
@using NewMounterAccount.Models;
@using DbManager;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Главнвя страница";

}

<h2>@ViewBag.Name</h2>

@{
    List<CuratorData> data = ViewBag.Data;
    int count = data.Count();
    int i = 0;
}

@while (i < count)
{
    <div class="card-deck mb-3 text-center">
        @for (int j = 0; j < 3; j++)
        {
            var item = (CuratorData)data[i];

            <div class="card mb-4  box-shadow shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">@item.MounterName</h4>
                </div>
                <div class="card-body">
                    <h5>Отчетов на проверку: @item.Recived</h5>
                    <h5>Принято отчетов:  @item.Accepted</h5>
                    <div style="height:100px"></div>
                    <div class="btn-group flex-shrink-1 bd-highlight" role="group" aria-label="Basic example">
                        <a href="/Curator/Reports/@item.MounterId" class="btn btn-outline-primary" role="button" aria-pressed="true">Отчеты</a>
                    </div>
                </div>
            </div>

            i++;
            if (i == count)
            {
                if (j == 0)
                {
                    <div class="card mb-4 empty-card">
                    </div>
                    <div class="card mb-4 empty-card">
                    </div>
                }
                if (j == 1)
                {
                    <div class="card mb-4 empty-card">
                    </div>
                }
                break;
            }
        }
    </div>
}


