
<table class="table table-sm table-bordered table-hover" >
    <thead>
        <tr style="background:#EEF3F6">
            <th>КДЕ-1</th>
            <th>КДЕ-3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Kde1Count</td>
            <td>@Model.Kde3Count</td>
        </tr>
    </tbody>

</table>