<div class="row mt-3">
    <label for="SubstationId">Выберите ТП/РП</label>
    @Html.DropDownList("SubstationId", Model as SelectList, new { @class = "form-control", @name = "id", @autocomplete = "on", @required = "true", @onchange = "OpenSubstation()" })
</div>